{% extends 'base.html' %}
{% block title %} List of Professor {% endblock %}
{% block content %}
    {#    definirea unui tabel in html - bootstrap#}
    <div class="container"><br><br>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">

            {% for professor in all_professors %}
                <div class="card">
                    <h5 class="card-header">{{ professor.first_name }} {{ professor.last_name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Course: {{ professor.department }}</h5>
                        <p class="card-text">Course duration: {{ professor.time }}</p>
                        {% if perms.professor.change_professor %}
                        <a href="{% url 'update_professor' professor.id %}" class="btn btn-primary">Update professor</a>
                        {% endif %}
                        {% if perms.professor.delete_professor %}
                        <a href="{% url 'delete_professor' professor.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if perms.professor.view_professor %}
                        <a href="{% url 'details_professor' professor.id %}" class="btn btn-warning">Details</a>
                        {% endif %}

                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteprofessor_{{ professor.id }}">
                            Inactivate
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteprofessor_{{ professor.id }}">
                                        Delete professor(modal)
                                  </button>
                        {#       modalul se afla aici                 #}

                        <div class="modal fade" id="professor_{{ professor.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">{{ professor.first_name }} {{ professor.last_name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to inactivate {{ professor.first_name }} {{ professor.last_name }} ?
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'inactivate_professor' professor.id %}"
                                           class="btn btn-outline-danger">Inactive</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                     Modalul se afla aici                          #}


                        <div class="modal fade" id="deleteprofessor_{{ professor.id }}" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">{{ professor.first_name }} {{ professor.last_name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete {{ professor.first_name }} {{ professor.last_name }} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'delete_professor_modal' professor.id %}"
                                           class="btn btn-outline-danger">Delete professor</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br><br>
            {% endfor %}

        </div>
    </div>
{% endblock %}