{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br>
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-title">
                            <h4 class="text-center">Forgot your password</h4>
                        </div>
                        <div class="card-body">
                        {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Reset your password</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}